* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-size: 17px;
    background: #0a0e31;
}

.loader {
    width: 300px;
    height: 300px;
    border: 40px solid #ddd;
    animation: anim 3s 0s ease-in-out infinite;
}

@keyframes anim {
    0% {
        transform: rotate(360deg);
        border: 40px solid #ddd;
    }

    50% {
        border: 10px solid #ddd;
        transform: rotate(200deg);
    }

    from {
        transform: rotate(0deg);
        border: 40px solid #ddd;
    }
}