* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: #0a0e31;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.catalog_item {
    width: 250px;
    margin: 10px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

.catalog_item .img {
    width: 100%;
    text-align: center;
}

.catalog_item .img img {
    width: 200px;
}

.catalog_item_content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    cursor: pointer;
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all 0.1s ease-in-out;
}

.btn.basket {
    background: #009dff;
    color: #ffffff;
    margin-bottom: 10px;
}

.btn.other {
    border: 2px solid #009dff;
    color: black;
}

.btn.other:hover {
    background: #009dff;
    color: #ffffff;
}

.btn.basket:hover {
    background: #1ba8ff;
    color: #ffffff;
}

.catalog_item_content .description {
    font-size: 14px;
    color: #0a0e31;
}

.catalog_item_content .rating svg {
    width: 20px;
}