@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: white;
    font-family: "Geologica", sans-serif;
    font-size: 17px;
    margin: 0;
    padding: 0;
}
/* header */
header{
    margin: 0 30px;
    padding: 7px;
}
.menu_header_1 {
    padding-bottom: 17px;
    padding-top: 10px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid gray;
}
.menu_header_2{
    padding-top: 17px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menu_header_2 nav{
    display: flex;
    justify-content: space-between;
}
.menu_header_1, .menu_header_2 {
    display: flex;
    flex-wrap: wrap;
}
.center_menu_header a svg {
    vertical-align: bottom;
    margin-right: 10px;
}
.calendar{
    margin-left: 58px;
}
.search_ico {
    background-color: lightskyblue;
    border-radius: 100%;
    width: 34px;
    height: 34px;
    margin-left: 45px;
}
.search_ico svg {
    margin: 9px 0 0px 9px;
}
.account_ico {
    background-color: lightskyblue;
    border-radius: 100%;
    width: 34px;
    height: 34px;
}
.account_ico svg {
    margin: 7px 0 0px 7.5px;
}
.center_menu_header {
    display: flex;
    gap: 20px;
}
.a_color_1{
    color: #416796;
}
a{
    text-decoration: none;
    color: #595959;
}
.right_menu_header {
    display: flex;
    gap: 20px;
}
.right_menu_header a:first-child{
    border-bottom: 2px dashed #416796;
}
@media screen and (max-width: 1145px) {
    .box_1_item_1__div_4 {
        display: none;
    }
}
/* main */
.box_1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}
.box_1_item_1{
    background: linear-gradient(90deg, #A8C9F2 -7.38%, #C2E0FA 53.85%, #CFEAFB 108.62%);
    border-radius: 20px;
    height: 470px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    position: relative;
    overflow: hidden;
}
@media screen and (max-width: 699px) {
    .box_1_item_1 {
        width: 100%;
        margin: 0 30px;
    }
}
.box_1_item_1 .box_1_item_1__div_1{
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 20px;
    position: relative;
    z-index: 3;
}
.box_1_item_1 .box_1_item_1__div_2{
    padding-bottom: 20px;
    position: relative;
    z-index: 3;
}
.box_1_item_1 .box_1_item_1__div_3 button{
    border-radius: 100px;
    background-color: transparent;
    padding: 15px;
    width: 190px;
    font-size: 15px;
    position: relative;
    z-index: 3;
    border: 2px solid black;
}
.box_1_item_1 .box_1_item_1__div_4{
    position: relative;
}
.box_1_item_1 .box_1_item_1__div_4 img{
    position: absolute;
    right: -40px;
    top: -280px;
    height: 400px;
}
.box_1_item_2{
    background: linear-gradient(90deg, rgba(238, 250, 214, 0.7) -2.29%, rgba(190, 239, 194, 0.7) 49.17%, rgba(142, 229, 176, 0.7) 103.75%);
    border-radius: 20px;
    height: 470px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.box_1_item_2 .box_1_item_2__div_1{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 20px;
    position: relative;
    z-index: 3;
    width: 300px;
    text-align: center;
}
.box_1_item_2 .box_1_item_2__div_2{
    position: relative;
    z-index: 3;
    color: #416796;
    border: 2px dashed #416796;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
}
.box_1_item_2 .box_1_item_2__div_3 button{
    border-radius: 100px;
    background-color: black;
    color: white;
    padding: 15px;
    width: 160px;
    font-size: 15px;
    position: relative;
    z-index: 3;
}
.box_1_item_2 .box_1_item_2__div_4{
    position: relative;
}
.box_1_item_2 .box_1_item_2__div_4 img{
    height: 230px;
    opacity: 0.7;
    bottom: -200px;
    position: absolute;
}
.box_2{
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(90deg, #FFEACF -7.38%, #F7C953 53.85%, #FFC700 108.62%);
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    padding: 30px;
    margin-top: 50px;
}
.box_2 .box_2_item_1 button {
    padding: 20px 35px;
    font-size: 15px;
    color: white;
    background-color: black;
    border-radius: 100px;
}
button {
    border: 0;
}
.box_3 {
    margin-top: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.box_3_item_3_main {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.box_3 .box_3_item_1, .box_3 .box_3_item_2, .box_3 .box_3_item_3, .box_3 .box_3_item_4 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    border: 2px solid grey;
}